{{#each posts as |posts| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/project/{{posts.id}}">{{posts.title}}</a>
    </h2>
    <p>
        {{posts.body}}
    </p>
    <p>Created by {{posts.user.name}} on {{format_date posts.created_at}}</p>
  </div>
</div>
{{/each}}


{{!-- {{#if showinpuform}} --}}

<section class="create-form-container">
    <div id="form-display">
        <form "form create-post"> 
            <div class="form-group">
                <label for="post-title">Title</label>
                <input class="form-input" type="text" id="post-title" name="project-name" />
                <label for="post-content">Content</label>
                <textarea class="form-input" id="post-content"></textarea>
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</section>

{{!-- {{/if}} --}}

<button class="btn btn-primary" id="new-post-btn" type="submit">+ New Post</button>

<script src="./js/dashboard.js"></script>