<!-- Loop over each object in the projects array -->
{{#each posts as |posts| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/comment/{{posts.id}}">{{posts.title}}</a>
    </h2>
    <p>
        {{posts.body}}
    </p>
    <p>Created by {{posts.user.name}} on {{format_date posts.created_at}}</p>
  </div>
</div>
{{/each}}